VITE_ENABLE_ADMIN_AUTH=false
VITE_ADMIN_EMAILS=admin1@casi.com,admin2@casi.com,admin3@casi.com
VITE_FIREBASE_API_KEY=AIzaSyDejeBSPWJtFXLGhki-apCCPq0C5iL0FR4
VITE_FIREBASE_AUTH_DOMAIN=casi-store.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=casi-store
VITE_FIREBASE_STORAGE_BUCKET=casi-store.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=656646363088
VITE_FIREBASE_APP_ID=1:656646363088:web:1c22dcc1aafd95f1594bd5

VITE_OWNER_PHONE=2067080497
VITE_OWNER_NAME=Natanael Cortes
VITE_BANK_NAME=
VITE_BANK_CLABE=
VITE_BASE_EXCHANGE_RATE=17.7
VITE_EXCHANGE_BUFFER=0.5
